.titulo{
    padding: 15px;
}
.cremas {
    background-color: orange;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    align-items: center;
}

   .cremas img {
        border-radius: 10px;
    }

    

    .cremas .boton {
        background-color: rgb(240, 72, 6);
        color: black;
        width: 6rem;
        height: 3rem;
        border-radius: 10px;
        box-shadow: 7px 7px 7px black;
    }

    

@media(max-width: 630px){
    .cremas{
        flex-direction: column;
        gap: 5px;
        img{
            background-size: cover;
        }
    }
}