.encabezado {
    margin: 0;
    font-size: 1.6rem;

}

.campaña {
    margin: 10px 0 0;
    font-size: 1.2rem;
    text-decoration: underline;
}

.itemlistcontainer {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap :10px;
}

